body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(121,194,180);
}

.input-group,
.loginbuttons,
.authbuttons {
  margin-top: 10px;
}

.authform {
  text-align: center;
  h4 {
    display: inline-block;
  }
  button {
    width: 10em;
  }
}

.authbuttons button {
  width: 12em;
  margin-top: 10px;
  display: inline-block;
  font-size: 2em;
  text-align: left;
  padding-left: 3em;
  border: 1px solid #adadad;
  &:hover {
    border: 1px solid black;
  }
  img {
    height: 24px;
  }
}

#github-btn {
  color: black;
  background-color: white;
}

#facebook-btn {
  color: white;
  background-color: rgb(57,91,147);
}

#google-btn {
  color: white;
  background-color: #c33;
}

#twitter-btn {
  color: white;
  background-color: #00aced;
}

#gameTarget {
  width: 800px;
  height: 600px;
  margin: 20px auto;
}