
<div class="container-fluid">
  <h2>Add a New Sequence</h2>
  <div class="row">
    <div class="col-md-12">

      <div class="row">
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa1" placeholder="Amino Acid 1" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa2" placeholder="Amino Acid 2" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa3" placeholder="Amino Acid 3" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa4" placeholder="Amino Acid 4" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa5" placeholder="Amino Acid 5" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa6" placeholder="Amino Acid 6" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa7" placeholder="Amino Acid 7" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa8" placeholder="Amino Acid 8" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa9" placeholder="Amino Acid 9" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa10" placeholder="Amino Acid 10" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa11" placeholder="Amino Acid 11" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa12" placeholder="Amino Acid 12" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa13" placeholder="Amino Acid 13" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa14" placeholder="Amino Acid 14" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa15" placeholder="Amino Acid 15" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa16" placeholder="Amino Acid 16" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa17" placeholder="Amino Acid 17" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa18" placeholder="Amino Acid 18" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa19" placeholder="Amino Acid 19" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa20" placeholder="Amino Acid 20" /> 
          <input type="text" ng-model="proteinCtrl.aminoAcid.aa21" placeholder="Amino Acid 21" /> 
      </div>
        <div>
          Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa7" /> 
        </div>
        <div>
          Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa8" /> 
        </div>
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa9" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa10" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa11" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa12" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa13" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa14" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa15" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa16" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa17" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa18" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa19" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa20" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa21" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa22" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa23" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa24" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa25" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa26" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa27" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa28" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa29" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa30" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa31" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa32" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa33" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa34" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa35" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa36" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa37" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa38" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa39" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa40" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa41" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa42" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa43" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa44" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa45" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa46" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa47" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa48" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa49" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa50" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa51" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa52" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa53" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa54" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa55" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa56" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa57" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa58" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa59" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa60" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa61" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa62" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa63" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa64" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa65" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa66" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa67" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa68" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa69" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa70" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa71" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa72" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa73" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa74" /> 
      </div>
      <div>
        Amino Acid:<input type="text" ng-model="proteinCtrl.aminoAcid.aa75" /> 
      </div>
    <button ng-click="proteinCtrl.addProtein()">Add Sequence</button>
</div>