
<div class="container-fluid">
  <h2>Add a New Sequence</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <input type="text" ng-model="proteinCtrl.monkey" placeholder="Protein Name" /> 
        <input type="text" ng-model="proteinCtrl.sequence" placeholder="Sequence Test" /> 
        <button ng-click="proteinCtrl.addProtein()">Add Sequence</button>
    </div>
    <br>
      <div class="row">
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa1" placeholder="Amino Acid 1" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa2" placeholder="Amino Acid 2" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa3" placeholder="Amino Acid 3" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa4" placeholder="Amino Acid 4" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa5" placeholder="Amino Acid 5" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa6" placeholder="Amino Acid 6" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa7" placeholder="Amino Acid 7" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa8" placeholder="Amino Acid 8" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa9" placeholder="Amino Acid 9" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa10" placeholder="Amino Acid 10" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa11" placeholder="Amino Acid 11" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa12" placeholder="Amino Acid 12" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa13" placeholder="Amino Acid 13" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa14" placeholder="Amino Acid 14" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa15" placeholder="Amino Acid 15" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa16" placeholder="Amino Acid 16" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa17" placeholder="Amino Acid 17" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa18" placeholder="Amino Acid 18" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa19" placeholder="Amino Acid 19" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa20" placeholder="Amino Acid 20" /> 
        <input type="text" ng-model="proteinCtrl.aminoAcid.aa21" placeholder="Amino Acid 21" /> 
      </div>
    </div>
  </div>
</div>