<div class="container-fluid authform">
  <div class="row">
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
    <div class="col-sm-10 col-md-8 col-lg-6">
      <form>
        <div class="input-group">
          <span class="input-group-addon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:</span>
          <input type="email" class="form-control add-input" id="email-input" ng-model="auth.email">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Password:</span>
          <input type="password" class="form-control add-input" id="password-input" ng-model="auth.password">
        </div>
        <div class="loginbuttons">
          <button class="btn btn-default" id="login-btn" type="submit" ng-click="auth.logIn()">Log In</button> or
          <button class="btn btn-default" id="signup-btn" ng-click="auth.signUp()">Sign Up</button>
        </div>
      </form>
      <hr>
      <h4>Or Log In With:</h4>
      <div class="authbuttons">
        <button class="btn" id="github-btn" ng-click="auth.serviceAuth('github')"><img src="images/github_icon.png" alt="Github logo">&nbsp;Github</button>
        <button class="btn" id="facebook-btn" ng-click="auth.serviceAuth('facebook')"><img src="images/facebook_icon.png" alt="Facebook logo">&nbsp;Facebook</button>
        <button class="btn" id="google-btn" ng-click="auth.serviceAuth('google')"><img src="images/google_icon.png" alt="Google logo">&nbsp;Google</button>
        <button class="btn" id="twitter-btn" ng-click="auth.serviceAuth('twitter')"><img src="images/twitter_icon.png" alt="Twitter logo">&nbsp;Twitter</button>
      </div>
    </div>
    <div class="col-sm-1 col-md-2 col-lg-3"></div>
  </div>
</div>